@import '../../vars.css';

.container {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 49px;
     z-index: 1;
     margin-left: 10%;
     margin-right: 10%;
}

.content {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     color: var(--color-text);
     z-index: 1;
}

.title {
     font-size: 72px;
     font-weight: 700;
     margin-top: 33px;
     font-family: var(--font-roboto);
     background: linear-gradient(90deg, 
          rgba(255,255,255, 1) 0%,
          rgba(255,255,255, 0.4) 100%
     );
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

.description {
     font-size: 30px;
     font-family: var(--font-roboto);
     margin-bottom: 52px;
}

.contactBtn {
     text-decoration: none;
     background-color: var(--color-main);
     color: var(--color-text);
     border-radius: 100px;
     font-size: 30px;
     font-weight: 600;
     padding: 17px 26px;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.headlineImg {
     width: 50%;
     z-index: 1;
}

.topBlur {
     position: absolute;
     width: 50vw;
     height: 50vw;
     min-width: 350px;
     min-height: 350px;
     top: -128px;
     left: -10vw;
     border-radius: 764px;
     background: var(--color-dark);
     filter: blur(100px)
}

.bottomBlur {
     position: absolute;
     width: 70vw;
     height: 50vw;
     min-width: 250px;
     min-height: 350px;
     top: 246px;
     right: -25vw;
     border-radius: 764px;
     background: var(--color-dark);
     filter: blur(100px)
}

@media screen and (max-width: 830px) {
     .container {
          flex-direction: column-reverse;
     }

     .content {
          align-items: center;
     }
}