:root {
     /* colours */
     --color-text: #fff;
     --color-main: #576cbc;
     --color-secondary: #19376d;
     --color-dark: #0b2447;
     --color-background: #04152d;

     /* fonts */
     /* to be added later */
}