:root {
     /* colours */
     --color-text: #FFFBFF;
     --color-main: #A23256;
     --color-secondary: #6C223A;
     --color-dark: #361124;
     --color-background: #160516;
     --color-bright: ##f9055d;
     --color-muted: ##b58289;
     --color-accent: ##6cffb1;

     /* fonts */
     --font-roboto: 'Roboto Mono';
     --font-quicksand: 'Quicksand', sans-serif;
}